@import "variables";
@import "logoStyle";
@import "style";

*{
    margin: 5px 0px 0px;
    padding: 0px;
}
.advanced-search{
    @extend .image-advanced-search;
    padding-left: 15px;
}
.adv{
    margin: 0px 0px 0px 10px;
}
.advancedSearch{
    font-size: $advancedSearch-font-size;
    color: $advancedSearch-color;
    letter-spacing: normal;
    display: block;
    margin: 25px 35px;
}
.line{
    border-bottom: 1px solid $border-color;
}
.form-container{
    width: 96%;
    margin: 40px 2% 0 45px;
}
.row-container{
    display: flex;
    margin: 0px;
}
.label-container{
    width: 15%;
    height: 42px;
    margin: 0px;
    .label-text{
        margin: 0px;;
        width: auto;
        height: auto;
    }
    .label-desc{
        font-size: $advanced-label-font-size;
    }
}
.big-input-container{
    width: 50%;
    height: 42px;
    margin: 0px;
    #box-1{
        visibility: hidden;
    }
}
.input-container{
    width: 100%;
    height: 25px;
    margin: 0px;
    .input-box{
        box-sizing: border-box;
        border-radius: 2px;
        width: 100%;
        height: 29px;
        padding: 1px 8px;
        border: 1px solid $border-color;
        border-top: 1px solid rgb(207, 207, 207);
        margin: 0px;
    }
}
.input-box:focus{
    outline: none;
    border: 1px solid #3079ed;
    box-shadow: 0.5px -2px 3px $border-color;
}
.description-container{
    width: 30%;
    height: 42px;
    margin: 0px;
    .description{
        width: auto;
        height: auto;
    }
    #todo{
        padding-left: 5px;
    }
    .desc{
        font-size: $advanced-font-size;
        margin: 0px 0px 8px 15px;
    }
    .mono{
        font-family: monospace;
    }
}
#btn-advanced{
    background-color: #4d90fe;
    font-size: $advanced-font-size;
    color: $btn-color;
    font-weight: bold;
    float: right;
    cursor: default;
}
#btn-advanced:hover{
    background-color: #3079ed;
}